---
layout: main
---


<section class="exercises-overview">
<h1>Indhold</h1>

<ul>
  <li>Ugeplaner som <a href="{{site.baseurl}}/weekly-plans">html</a></li>
  <li>Øvelser som <a href="{{site.baseurl}}/exercises">html</a></li>
  <li>Øvrige dokumenter som <a href="{{site.baseurl}}/other-docs">html</a></li>
  <li>Ugeplaner, Øvelser og øvrige dokumenter som <a href="{{site.baseurl}}/pdf">pdf filer</a></li>
  <li><a href="{{site.baseurl}}/tags">Tags</a></li>
  <li><a href="{{site.baseurl}}/itsxml">ITS learning import XML</a></li>
</ul>

</section>
